@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../../assets/Forest-background-cropped.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

header::before {
  content: "";
  display: block;
  height: 100vh;
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, #001219 0%, rgba(0, 95, 115, 0.2409638554) 100%);
  z-index: -1;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px;
  height: 70vh;
  width: 80%;
  padding: 10px;
  margin: auto;
}
.intro__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro__cell--name {
  font-size: 2rem;
}
.intro__cell--title {
  font-size: 2rem;
}
.intro__cell--profile {
  line-height: 1.5;
}
.intro__cell--button {
  font-size: 2rem;
}
.intro__cell--button a {
  background-color: #FE8163;
  padding: 10px 20px;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .intro__cell--name {
    font-size: 3rem;
  }
  .intro__cell--title {
    font-size: 3rem;
  }
  .intro__cell--profile {
    font-size: 2rem;
  }
  .intro__cell--button {
    font-size: 3rem;
  }
  .intro__cell--button a {
    background-color: #FE8163;
    padding: 20px 60px;
    border-radius: 50px;
  }
}
.nav {
  background: transparent;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.nav__icons a:nth-child(2) {
  margin-left: 10px;
}

section {
  background: linear-gradient(135deg, #001219 0%, #005f73 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .section-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;
}
.project__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
}
.project__cell--image {
  width: 100%;
}
.project__cell--desc {
  text-align: center;
}

.project-section-2 {
  background: #001219;
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
}

.project-1 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #fe8163 100%);
}

.project-2 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #94d2bd 100%);
}

.project-3 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #0a9369 100%);
}