@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.section-header {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

header {
  background-image: url("https://github.com/AdamDCosta/My-portfolio/blob/main/assets/Forest-background-cropped.jpg");
  background-color: #005F73;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

header::before {
  content: "";
  display: block;
  height: 90vh;
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, #001219 0%, rgba(0, 95, 115, 0.2409638554) 100%);
  z-index: -1;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  height: 70vh;
  width: 80%;
  padding: 10px;
  margin: auto;
}
.intro__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro__cell--name {
  font-size: 2rem;
}
.intro__cell--title {
  font-size: 1.5rem;
}
.intro__cell--profile {
  line-height: 1.5;
}
.intro__cell--button {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .intro {
    gap: 50px;
  }
  .intro__cell--name {
    font-size: 3rem;
  }
  .intro__cell--name h1 {
    border-bottom: 5px solid #0A9369;
  }
  .intro__cell--title {
    font-size: 3rem;
  }
  .intro__cell--profile {
    font-size: 1.5rem;
  }
  .intro__cell--button {
    font-size: 3rem;
  }
  .intro__cell--button .cta-button {
    background-color: #FE8163;
    padding: 20px 60px;
    border-radius: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    height: 70vh;
    width: 80%;
    padding: 10px;
    margin: auto;
  }
  .intro__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro__cell--name, .intro__cell--button {
    grid-column: 1/3;
  }
  .intro__cell--title {
    grid-column: 1/2;
  }
  .intro__cell--profile {
    grid-column: 2/3;
  }
}
.nav {
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10vh;
  width: 100%;
  position: relative;
}
.nav__icons {
  padding: 2vh 20px 2vh 20px;
  display: flex;
}
.nav__icons a:nth-child(2) {
  margin: 0 10px;
}
.nav__icons img:hover {
  filter: brightness(150%);
}
.nav__menu {
  position: absolute;
  right: 20px;
  top: 2vh;
}
.nav__menu:hover {
  filter: brightness(150%);
  cursor: pointer;
}
.nav__links {
  display: none;
}
.nav__links__links ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  list-style: none;
}
.nav__links__links li {
  list-style: none;
  text-align: center;
  font-size: 2rem;
}
.nav__links__links li a {
  text-decoration: none;
  font-size: 2rem;
  color: #94D2BD;
}
.nav__links__li a:hover {
  color: #FE8163;
}

.nav__links.active {
  display: block;
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
  width: 100%;
  z-index: 10;
}
.nav__links.active ul {
  padding: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  list-style: none;
}
.nav__links.active ul li {
  margin: auto;
  font-size: 2rem;
}
.nav__links.active ul li a {
  color: #94D2BD;
  text-decoration: none;
}
.nav__links.active li a:hover {
  color: #FE8163;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .nav__links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: none;
    padding-right: 20px;
    border: none;
    height: 10vh;
    list-style: none;
    width: 80%;
  }
  .nav__links li {
    padding: 20px;
  }
  .nav__links li a {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    color: #94D2BD;
  }
  .nav__links li a:hover {
    color: #FE8163;
  }
  .nav__icons {
    margin: 2vh 0 2vh 20px;
    padding-right: 20px;
    width: 20%;
  }
  .nav__menu {
    display: none;
  }
}
section {
  background: linear-gradient(135deg, #001219 0%, #005f73 100%);
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .section-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;
}
.project__cell {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/5;
}
.project__cell--image {
  position: relative;
}
.project__cell--image img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.project__cell--desc {
  text-align: left;
}
.project__cell--code, .project__cell--buttons {
  display: flex;
  justify-content: space-between;
}
.project__cell--code img {
  max-width: 50px;
}
.project__cell--desc-large {
  display: none;
}

.project-section-2, .project-section-4 {
  background: #001219;
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
}

.project-1 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #fe8163 100%);
}

.project-2, .project-4 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #94d2bd 100%);
}

.project-3 {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #0a9369 100%);
}

@media screen and (min-width: 768px) {
  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
  }
  .project__cell--title, .project__cell--desc-large {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .project__cell--code, .project__cell--buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .project__cell--title {
    grid-column: 2/6;
    grid-row: 1/4;
  }
  .project__cell--image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 7/12;
    grid-row: 2/11;
  }
  .project__cell--image img {
    max-width: 100%;
    max-height: 100%;
  }
  .project__cell--desc {
    display: none;
  }
  .project__cell--code {
    grid-column: 2/6;
    grid-row: 11/12;
  }
  .project__cell--code img {
    width: 50px;
    max-width: 80px;
  }
  .project__cell--buttons {
    grid-column: 8/12;
    grid-row: 11/12;
  }
  .project__cell--desc-large {
    grid-row: 4/9;
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .project__cell--desc-large p {
    line-height: 1;
    font-size: 1.5rem;
  }

  .project-section-1 h2 {
    text-decoration: underline solid #94D2BD;
  }

  .project-2__cell--title {
    grid-column: 7/12;
    grid-row: 1/4;
  }
  .project-2__cell--image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2/6;
    grid-row: 2/11;
  }
  .project-2__cell--code {
    grid-column: 7/12;
    grid-row: 8/10;
  }
  .project-2__cell--buttons {
    grid-column: 7/12;
    grid-row: 10/12;
  }
  .project-2__cell--desc-large {
    grid-column: 7/12;
    grid-row: 4/8;
  }
}
@media screen and (min-width: 1024px) {
  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
  }
  .project__cell--title, .project__cell--desc-large {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .project__cell--code, .project__cell--buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .project__cell--title {
    grid-column: 2/6;
    grid-row: 1/4;
  }
  .project__cell--image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 7/12;
    grid-row: 2/12;
  }
  .project__cell--image img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  .project__cell--desc {
    display: none;
  }
  .project__cell--code {
    grid-column: 2/6;
    grid-row: 8/10;
  }
  .project__cell--code img {
    width: 60px;
    max-width: 60px;
  }
  .project__cell--buttons {
    grid-column: 2/6;
    grid-row: 10/12;
  }
  .project__cell--desc-large {
    grid-row: 4/8;
    grid-column: 2/6;
  }
  .project__cell--desc-large p {
    line-height: 1.3;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .project__cell--desc-large p {
    line-height: 1.3;
    font-size: 1.4rem;
  }
}
.project__cell--buttons a {
  background-color: #FE8163;
  padding: 10px 0;
  width: 40%;
  border-radius: 50px;
  text-align: center;
}

.carousel__cell--buttons a {
  background-color: #FE8163;
  padding: 10px 0;
  width: 40%;
  border-radius: 50px;
  text-align: center;
}

.carousel__cell--left img, .carousel__cell--right img {
  width: 50px;
}

.project__cell--buttons a:hover, .carousel__cell--buttons a:hover {
  background-color: #94D2BD;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #001219;
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
}

@media screen and (min-width: 768px) {
  .about-section {
    background-image: url(../../assets/Forest-background-cropped.jpg);
    background-size: cover;
    width: 100%;
    background-color: #005F73;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .about-section::before {
    content: "";
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, #001219 0%, rgba(0, 95, 115, 0.2409638554) 100%);
    z-index: -1;
  }
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;
}
.about__cell {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/5;
  text-align: center;
}
.about__cell--image img {
  border-radius: 50px;
  max-height: 350px;
  max-width: 100%;
}
.about__cell--link a {
  background-color: #FE8163;
  padding: 10px 20px;
  border-radius: 50px;
}
.about__cell--desc p {
  font-size: 0.8rem;
  line-height: 1.3;
}
.about .cta-button {
  font-size: 2rem;
}

.about__cell--contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 51%, #94d2bd 100%);
  }
  .about__cell--image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2/6;
    grid-row: 2/11;
  }
  .about__cell--image img {
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 350px;
  }
  .about__cell--intro, .about__cell--desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 7/12;
    text-align: left;
  }
  .about__cell--intro {
    grid-row: 2/4;
  }
  .about__cell--desc {
    grid-row: 4/8;
  }
  .about__cell--link {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 7/12;
    grid-row: 9/11;
  }
  .about__cell--intro p {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  .about__cell--desc p {
    line-height: 1.1;
  }
  .about__cell--contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 2/12;
    grid-row: 11/13;
    border-top: 5px solid #94D2BD;
    font-size: 1.2rem;
  }
  .about__cell--icons img:nth-child(2) {
    padding: 0 5px;
  }
  .about__cell--icons img:hover {
    filter: brightness(150%);
  }

  .about-section h2 {
    text-decoration: underline solid #FE8163;
  }
}
@media screen and (min-width: 768px) {
  .about__cell--desc p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__cell--intro p {
    font-size: 2rem;
  }
  .about__cell--desc p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .about__cell--icons img:nth-child(2) {
    padding: 0 20px;
  }
}
.cta-button {
  background-color: #FE8163;
  padding: 10px 20px;
  border-radius: 50px;
}

.cta-button:hover {
  background-color: #94D2BD;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .contact-section {
    display: none;
  }
}
.contact-section .section-header {
  margin-top: 20px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;
}
.contact__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
}
.contact__cell--email-address {
  font-size: 1.2rem;
  grid-column: 2/5;
}
.contact .cta-button {
  font-size: 2rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: #001219;
  background: #005f73;
  background: linear-gradient(0deg, #005f73 15%, #fe8163 100%);
}

@media screen and (min-width: 768px) {
  .skills-section {
    padding-top: 10px;
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) {
  .skills-section {
    height: 70vh;
    background: #005f73;
    background: linear-gradient(0deg, #005f73 15%, #fe8163 100%);
    padding-bottom: 20px;
  }
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
  width: 90%;
  border-radius: 50px;
}
.skills__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}
.skills__cell--html, .skills__cell--figma, .skills__cell--scss, .skills__cell--java {
  grid-column: 2/3;
}
.skills__cell--css, .skills__cell--react, .skills__cell--git {
  grid-column: 1/2;
}
.skills__cell--js, .skills__cell--postman, .skills__cell--github {
  grid-column: 3/4;
}
.skills__cell img:hover {
  transform: scale(1.5);
  filter: brightness(150%);
}

@media screen and (min-width: 768px) {
  .skills-section .section-header {
    margin-bottom: 20px;
  }
  .skills-section .section-header h2 {
    text-decoration: underline solid #0A9369;
  }

  .skills {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    height: 60vh;
    width: 75%;
  }
  .skills__cell {
    grid-column: auto;
  }
  .skills img {
    height: 100%;
    max-height: 150px;
    width: 100%;
    max-width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .skills-section .skills {
    height: 30vh;
  }
}
.carousel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: linear-gradient(45deg, #001219 0%, #005f73 100%);
}

@media screen and (min-width: 768px) {
  .carousel {
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .carousel {
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  }
}
.carousel__cell {
  height: 90vh;
}
.carousel__cell--project2, .carousel__cell--project3 {
  display: none;
}
.carousel__cell--project1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.carousel__cell--image {
  min-height: 250px;
  max-height: 450px;
}
.carousel__cell--image img {
  width: 100%;
}
.carousel__cell--desc {
  text-align: center;
}
.carousel__cell--code, .carousel__cell--buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.carousel__cell--code img {
  width: 60px;
}
.carousel__cell--left {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
}
.carousel__cell--right {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
}
.carousel__cell--left img:hover, .carousel__cell--right img:hover {
  filter: brightness(150%);
}

@media screen and (min-width: 768px) {
  .carousel {
    gap: 30px;
  }
  .carousel__cell {
    padding: 20px;
  }
  .carousel__cell--project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .carousel__cell--right {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
  }
  .carousel__cell--code img {
    width: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel__cell--project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .carousel__cell--right {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
  }
}