@use "../base/abstracts";

.contact-section .section-header {
  margin-top: 20px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 5;
  }

  

  &__cell--email-address {
    font-size: 1.4rem;
  }

  .cta-button {
    font-size: 2rem;

  }

  // &__cell img {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   grid-column: 2 / 5;
  }


