@use "../base/abstracts" as *;
@use "../layout/header" as *;

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  height: 70vh;
  width: 80%;
  padding: 10px;
  margin: auto;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__cell--name {
    font-size: 2rem;
    // text-align: center;
  }

  &__cell--title {
    font-size: 1.5rem;

  }

  &__cell--profile {
    line-height: 1.5;
    // text-align: center;
  }

  &__cell--button {
    font-size: 2rem;
  }

}

@media screen and (min-width: $breakpoint-tablet) {

  .intro {
    gap: 50px;
    

    &__cell--name {
      font-size: 3rem;
      
      h1 {
        border-bottom: 5px solid $color-green;
      }
    }

    &__cell--title {
      font-size: $h2-desktop;
      
  
    }

    &__cell--profile {
      font-size: 1.5rem;
      
    }

    &__cell--button {
      font-size: 3rem;
  
      .cta-button {
        background-color: $color-action;
        padding: 20px 60px;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    height: 70vh;
    width: 80%;
    padding: 10px;
    margin: auto;
  
    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &__cell--name, &__cell--button {
      grid-column: 1 / 3 ;
    }

    &__cell--title {
      grid-column: 1 / 2 ;
    }

    &__cell--profile {
      grid-column: 2 / 3 ;
      
    }

    
  }

}
