@use "../base/abstracts" as *;

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;

  &__cell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2 / 5 ;
  }

  // &__cell--title {
  //   grid-column: 1 / 4 ;
  // }

  &__cell--image img {
    width: 100%;
    max-height: 400px;
  }

  &__cell--desc {
    text-align: center;
  }

  &__cell--code, &__cell--buttons {
    display: flex;
    justify-content: space-between;
  }
  
  &__cell--code img {
    height: 100%;
    max-width: 40px;
  }
       
}

.project-section-2 {
  background: rgb(0,18,25);
  background: linear-gradient(45deg, rgba(0,18,25,1) 0%, rgba(0,95,115,1) 100%);
}

.project-1 {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(254,129,99,1) 100%);
}

.project-2{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(148,210,189,1) 100%);
}

.project-3{
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(10,147,105,1) 100%);
}

