@use "../base/abstracts" as *;

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 80vh;
  width: 100%;
  border-radius: 50px;

  

  &__cell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2 / 5 ;
  }

  // &__cell--title {
  //   grid-column: 1 / 4 ;
  // }

  &__cell--image img {
    width: 100%;
    max-height: 400px;
  }

  &__cell--desc {
    text-align: center;
  }

  &__cell--code, &__cell--buttons {
    display: flex;
    justify-content: space-between;
  }
  
  &__cell--code img {
    // height: 100%;
    max-width: 40px;
  }

  &__cell--desc-large {
    display: none;
  }

}




     
.project-section-2 {
  background: rgb(0,18,25);
  background: linear-gradient(45deg, rgba(0,18,25,1) 0%, rgba(0,95,115,1) 100%);
}

.project-1 {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(254,129,99,1) 100%);
}

.project-2{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(148,210,189,1) 100%);
}

.project-3{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(10,147,105,1) 100%);
}

@media screen and (min-width: $breakpoint-tablet){
  
  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
  
    &__cell--title, &__cell--desc-large {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__cell--code, &__cell--buttons {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }


    &__cell--title {
      grid-column: 2 / 6 ;
      grid-row: 1 / 4 ;
    }

    &__cell--image {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-column: 7 / 12 ;
      grid-row: 2 / 12;
    }

    &__cell--image img {
      // width: 100%;
      // height: 600px;
      // max-height: 1000px;

      max-width: 100%;
      max-height: 100%;
    }

    &__cell--desc {
      display: none;
    }

    &__cell--code {
      grid-column: 2 / 6 ;
      grid-row: 8 / 10 ;
    }

    &__cell--code img {
      width: 50px;
      max-width: 80px
    }

    &__cell--buttons {
      grid-column: 2 / 6 ;
      grid-row: 10 / 12 ;
    }

    &__cell--desc-large {
      grid-row: 4 / 8 ;
      grid-column: 2 / 6 ;
    }

  }
}


@media screen and (min-width: $breakpoint-desktop) {

  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
  
    &__cell--title, &__cell--desc-large {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__cell--code, &__cell--buttons {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__cell--title {
      grid-column: 2 / 6 ;
      grid-row: 1 / 4 ;
    }

    &__cell--image {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-column: 7 / 12 ;
      grid-row: 2 / 12;
    }

    &__cell--image img {
      // width: 100%;
      // height: 600px;
      // max-height: 1000px;

      max-width: 100%;
      max-height: 100%;
    }

    &__cell--desc {
      display: none;
    }

    &__cell--code {
      grid-column: 2 / 6 ;
      grid-row: 8 / 10 ;
    }

    &__cell--code img {
      width: 80px;
      max-width: 100px;
    }

    &__cell--buttons {
      grid-column: 2 / 6 ;
      grid-row: 10 / 12 ;
    }

    &__cell--desc-large {
      grid-row: 4 / 8 ;
      grid-column: 2 / 6 ;
    }

  }

}