@use "../base/abstracts" as *;

.nav {
  
  background: linear-gradient(45deg, rgba(0,18,25,1) 0%, rgba(0,95,115,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10vh;
  width: 100%;
  position: relative; // SO I CAN POSITION THE HAMBURGER ICON
  
  ////// --- ICONS POSITIONING

  &__icons {
    padding: 2vh 20px 2vh 20px;
    display: flex;
  }

  &__icons a:nth-child(2) {
    margin: 0 10px;
  }

  &__icons img:hover {
    filter: brightness(150%)
  }

  /// --- HAMBURGER ICON POSITIONING
  
  &__menu {
    position: absolute; // POSTION RELATIVE TO NEAREST ANCESTOR (IN THIS CASE THE NAVBAR -> REMOVED FROM NORMAL FLOW SO I COULD PLACE IT IN THE TOP CORNER INSTEAD OF WITH THE FLEX-COLUMN
    right: 20px;
    top: 2vh;
  }
  
  &__menu:hover {
    filter: brightness(150%);
    cursor: pointer;
  }

  &__links {
    display: none; // HIDES THE LINKS DIV
    

  &__links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh; // HEIGHT AND WIDTH TO TAKE UP THE WHOLE SCREEN
    list-style: none;
  }

  &__links li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    

  }

  &__links li a {
    text-decoration: none;
    font-size: 2rem;
    color: $color-blue-light;
  }

  &__li a:hover {
    color: $color-action;
  } 

} 

}  

// 

.nav__links.active {
  display: block;
  background: linear-gradient(45deg, rgba(0,18,25,1) 0%, rgba(0,95,115,1) 100%);
  width: 100%;
  z-index: 10;
  // height: 90vh;

  ul {

    padding: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh; // HEIGHT AND WIDTH TO TAKE UP THE WHOLE SCREEN
    list-style: none;

    li {
      margin: auto;
      font-size: 2rem;
    }
      
      li a {
        color: $color-blue-light;
        text-decoration: none;

      }
    }

    li a:hover {
      color: $color-action;
    }

  }


@media screen and (min-width: $breakpoint-tablet) {

  .nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;
      
    }

    &__links ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      padding: none;
      padding-right: 20px;
      border: none;
      height: 10vh;
      list-style: none;
      width: 80%;

    }

    &__links li {
      padding: 20px;
    }

    &__links li a {
      display: block;
      margin: auto;
      font-size: 1.5rem;
      color: $color-blue-light;
    }

    &__links li a:hover {
      color: $color-action;
    }

    &__icons {
      margin: 2vh 0 2vh 20px;
      padding-right: 20px;
      width: 20%;
    }

    

    &__menu {
      display: none;
    }

  }
}