@use "../base/abstracts" as *;

.nav {
  background: transparent;
  // background-color: transparent;
  background: linear-gradient(45deg, rgba(0,18,25,1) 0%, rgba(0,95,115,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10vh;
  // padding: 10px;
  // position: sticky;
  width: 100%;

  &__icons a:nth-child(2) {
    margin-left: 10px;
  }

  &__icons img:hover {
    color: $color-blue-light;
  }

  &__icons {
    margin: 2vh 0 2vh 20px;
    padding-right: 20px;
  }

  &__menu {
    position: absolute;
    right: 20px;
    top: 2vh;
  }

  &__links {
    display: flex;
    width: 100%;
    z-index: 10;
  }



  &__links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
  }

  &__links li {
    list-style: none;
    text-align: center;
    // padding: 80px;

  }

  &__links li a {
    display: none;
    text-decoration: none;
    font-size: 2rem;
    z-index: 10;
  }

}

.nav__links li a.active {
  display: block;
}

@media screen and (min-width: $breakpoint-tablet) {

  .nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__links ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      padding: none;
      padding-right: 20px;
      border: none;
      height: 10vh;
    }

    &__links li {
      padding: 15px;
    }

    &__links li a {
      display: block;
      margin: auto;
      font-size: 1.5rem;
      color: $color-blue-light;
    }

    &__links li a:hover {
      color: $color-action;
    }

    &__icons {
      margin: 2vh 0 2vh 20px;
      padding-right: 20px;
      width: 25%;
    }

    

    &__menu {
      display: none;
    }

  }

}