@use "../base/abstracts" as *;

.project__cell--buttons a {
  background-color: $color-action;
  padding: 10px 0;
  width: 40%;
  border-radius: 50px;
  text-align: center;
}

.carousel__cell--buttons a {
  background-color: $color-action;
  padding: 10px 0;
  width: 40%;
  border-radius: 50px;
  text-align: center;
}

.carousel__cell--left, .carousel__cell--right {

  img {
    width: 50px;
  }
}

.project__cell--buttons, .carousel__cell--buttons {

  a:hover {
    background-color: $color-blue-light;
  }
}