@use "../base/abstracts" as *;

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // gap: 10px;
  height: 80vh;
  width: 90%;
  border-radius: 50px;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
  }

  &__cell--html, &__cell--figma, &__cell--scss, &__cell--java {
    grid-column: 2 / 3;
  }

  &__cell--css, &__cell--react, &__cell--git {
    grid-column: 1 / 2;
  }

  &__cell--js, &__cell--node, &__cell--github {
    grid-column: 3 / 4;
  }

  &__cell {
    img:hover{
      transform: scale(1.5);
      filter: brightness(150%);
    }
  }

}

@media screen and (min-width: $breakpoint-tablet){

  .skills-section .section-header {
    margin-bottom: 20px;
    
    h2 {
      text-decoration: underline solid $color-green;
      // line-height: 1.5;
    }
  }
  
  .skills {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    height: 50vh;
    width: 75%;
    // margin: auto;

    &__cell {
      grid-column: auto;
    }

    img {
      height: 100%;
      max-height: 150px;
      width: 100%;
      max-width: 150px;
    }

  }



}