@use "../base/abstracts" as *;

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // gap: 10px;
  height: 80vh;
  width: 90%;
  border-radius: 50px;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cell--html, &__cell--figma, &__cell--scss, &__cell--java {
    grid-column: 2 / 3;
  }

  &__cell--css, &__cell--react, &__cell--git {
    grid-column: 1 / 2;
  }

  &__cell--js, &__cell--node, &__cell--github {
    grid-column: 3 / 4;
  }

}