@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-body: "Roboto", sans-serif;

$color-white: #FFFFFF;
$color-black: #001219;
$color-blue-dark: #005F73;
$color-blue-light: #94D2BD;
$color-green: #0A9369;
$color-action: #FE8163;

$h2-devices: 2rem;
$h2-desktop: 3rem;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-white;
}

a {
  text-decoration: none;
}

.section-header {
  font-size: $h2-devices;
}

h3 {
  font-size: 2rem;
}



// @mixin h3-style ($h3-style: devices) {
//   font-size: 2rem;
// }

// @mixin h3-style ($h3-styles: desktop) {
//   font-size: 3rem;
// }
  
